[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvim/plugged/LanguageClient-neovim"]
	path = nvim/plugged/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "nvim/plugged/auto-pairs"]
	path = nvim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "nvim/plugged/colorizer"]
	path = nvim/plugged/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "nvim/plugged/deoplete.nvim"]
	path = nvim/plugged/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "nvim/plugged/i3config.vim"]
	path = nvim/plugged/i3config.vim
	url = https://github.com/mboughaba/i3config.vim.git
[submodule "nvim/plugged/ncm2"]
	path = nvim/plugged/ncm2
	url = https://github.com/ncm2/ncm2.git
[submodule "nvim/plugged/ncm2-aspell"]
	path = nvim/plugged/ncm2-aspell
	url = https://github.com/fgrsnau/ncm2-aspell.git
[submodule "nvim/plugged/ncm2-bufword"]
	path = nvim/plugged/ncm2-bufword
	url = https://github.com/ncm2/ncm2-bufword.git
[submodule "nvim/plugged/ncm2-cssomni"]
	path = nvim/plugged/ncm2-cssomni
	url = https://github.com/ncm2/ncm2-cssomni.git
[submodule "nvim/plugged/ncm2-html-subscope"]
	path = nvim/plugged/ncm2-html-subscope
	url = https://github.com/ncm2/ncm2-html-subscope.git
[submodule "nvim/plugged/ncm2-markdown-subscope"]
	path = nvim/plugged/ncm2-markdown-subscope
	url = https://github.com/ncm2/ncm2-markdown-subscope.git
[submodule "nvim/plugged/ncm2-match-highlight"]
	path = nvim/plugged/ncm2-match-highlight
	url = https://github.com/ncm2/ncm2-match-highlight.git
[submodule "nvim/plugged/ncm2-neosnippet"]
	path = nvim/plugged/ncm2-neosnippet
	url = https://github.com/ncm2/ncm2-neosnippet.git
[submodule "nvim/plugged/ncm2-path"]
	path = nvim/plugged/ncm2-path
	url = https://github.com/ncm2/ncm2-path.git
[submodule "nvim/plugged/ncm2-syntax"]
	path = nvim/plugged/ncm2-syntax
	url = https://github.com/ncm2/ncm2-syntax.git
[submodule "nvim/plugged/ncm2-vim"]
	path = nvim/plugged/ncm2-vim
	url = https://github.com/ncm2/ncm2-vim.git
[submodule "nvim/plugged/neco-syntax"]
	path = nvim/plugged/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule "nvim/plugged/neco-vim"]
	path = nvim/plugged/neco-vim
	url = https://github.com/shougo/neco-vim.git
[submodule "nvim/plugged/neoformat"]
	path = nvim/plugged/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "nvim/plugged/neosnippet-snippets"]
	path = nvim/plugged/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "nvim/plugged/neosnippet.vim"]
	path = nvim/plugged/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "nvim/plugged/nerdcommenter"]
	path = nvim/plugged/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nvim/plugged/nerdtree"]
	path = nvim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nvim/plugged/nvim-typescript"]
	path = nvim/plugged/nvim-typescript
	url = https://github.com/mhartington/nvim-typescript.git
[submodule "nvim/plugged/nvim-yarp"]
	path = nvim/plugged/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "nvim/plugged/vim-abolish"]
	path = nvim/plugged/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "nvim/plugged/vim-airline"]
	path = nvim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "nvim/plugged/vim-airline-themes"]
	path = nvim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "nvim/plugged/vim-endwise"]
	path = nvim/plugged/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "nvim/plugged/vim-fugitive"]
	path = nvim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/plugged/vim-markdown"]
	path = nvim/plugged/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "nvim/plugged/vim-surround"]
	path = nvim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/plugged/vim-trailing-whitespace"]
	path = nvim/plugged/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
